html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* Full black bg neon */
  font-family: 'Orbitron', sans-serif;
  color: #0ff;
}

nb-layout, nb-layout-column.app-column-fullscreen {
  height: 100vh !important;
  min-height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
}
